<style>
#signuppage{width:540px;
											height:370px;
											position:absolute;
											left:400px;
											top:190px;
											background-color:#ccccff;
											}
#signuppage table{width:540px;
															height:300px;
															cell-padding:10px;
															}			
	#signuppage table tr td p{color:red;}
	#err{position:absolute;
					top:100px;
					left:300px;
					color:red;
					}
</style>
<div id="signuppage">
<table> <tr><td colspan="2" align="center"><h1>Sign up as a new user</h1></td></tr>
<% @user.password = @user.password_confirmation = nil %>


<%= form_for :user, :url => users_path do |f| -%>
<tr><td align="center"			><%= label_tag 'login' %></td><td align="center"			><%= f.text_field :login %><font color="red"><%= error_message_on :user,:login%></font></td></tr>
<tr><td align="center"			><%= label_tag 'email' %></td><td align="center"			><%= f.text_field :email %><font color="red"><%= error_message_on :user,:email%></font></td></tr>
<tr><td align="center"			><%= label_tag 'password' %></td><td align="center"			><%= f.password_field :password %><font color="red"><%= error_message_on :user,:password%></font></td></tr>
<tr><td align="center"			><%= label_tag 'password_confirmation', 'Confirm Password' %></td><td align="center"	><%= f.password_field :password_confirmation %></td></tr>
<tr><td></td><td align="center"><%= submit_tag 'Sign up' %><font color="red"><%= error_message_on :user,:password_confirmation%></font></td></tr>
<% end -%>
</table>
</div>
<div id="err"><%=flash[:error]%></div>